<div class="row justify-content-center mb-3">
  <div class="card col-4">
    <div class="card-body">
      <form>
        <label class="form-label" for="importedFile">
          Selectioner un fichier CSV à importer
        </label>
        <input
          class="form-control"
          type="file"
          name="importedFile"
          id="importedFile"
          accept="text/csv"
          (change)="importFile($event.target)"
        />
      </form>
    </div>
    <div class="card-footer border-0 bg-white text-end">
      <a class="link-secondary" role="button" (click)="importTestData()">
        Utiliser un jeu de test
      </a>
    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="importedDataError.length > 0">
  <div class="col-auto alert alert-success" role="alert">
    <h4>Erreurs lors de l'import</h4>
    <p>{{ importedDataError.toString() }}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6" *ngIf="importedData.length > 0">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" *ngFor="let i of importedData[0] | keyvalue">
            {{ i.key }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of importedData">
          <td *ngFor="let j of i | keyvalue">{{ j.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
