<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mb-3">
      <h1 class="display-5">Benef-distrib-card</h1>
    </div>
  </div>
  <div class="row mb-3">
    <ul class="nav justify-content-center nav-pills fs-3">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          role="button"
          (click)="navigateTo('import')"
          [ngClass]="{ active: displayedComp === 'import' }"
        >
          Import Data
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          role="button"
          (click)="navigateTo('design')"
          [ngClass]="{ active: displayedComp === 'design' }"
        >
          Design card
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link disabled"
          role="button"
          (click)="navigateTo('export')"
          [ngClass]="{ active: displayedComp === 'export' }"
          disabled
        >
        </a>
      </li>
    </ul>
  </div>
  <app-data-import *ngIf="displayedComp === 'import'"></app-data-import>
  <app-card-designer *ngIf="displayedComp === 'design'"></app-card-designer>
  <!-- <app-card-export *ngIf="displayedComp === 'export'"></app-card-export> -->
</div>
