<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto mb-3">
      <h1 class="display-5">Benef-distrib-card</h1>
    </div>
  </div>
  <div class="row">
    <!-- Toolbox -->
    <div class="col-3">
      <div class="row mb-2">
        <div class="col w-100">
          <div class="card">
            <div class="card-body">
              <button
                type="button"
                class="btn btn-outline-primary m-2"
                (click)="onSave()"
              >
                Save Card
              </button>
              <button
                type="button"
                class="btn btn-outline-primary m-2"
                (click)="onClearSave()"
              >
                Clear
              </button>
              <br />
              <button
                type="button"
                class="btn btn-outline-primary m-2"
                (click)="onExport()"
              >
                Export to PDF
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-0">
        <div class="col-auto">
          <div class="list-group">
            <button
              class="list-group-item list-group-item-action d-flex justify-content-center active"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="2em"
                height="2em"
                fill="currentColor"
                class="bi bi-circle-square"
                viewBox="0 0 16 16"
              >
                <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6z" />
                <path
                  d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a6.953 6.953 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79c.097.324.17.658.22 1z"
                />
              </svg>
            </button>
            <button
              class="list-group-item list-group-item-action d-flex justify-content-center"
              disabled
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="2em"
                height="2em"
                fill="currentColor"
                class="bi bi-fonts"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.258 3H3.747l-.082 2.46h.478c.26-1.544.76-1.783 2.694-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z"
                />
              </svg>
            </button>
            <button
              class="list-group-item list-group-item-action d-flex justify-content-center"
              disabled
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="2em"
                height="2em"
                fill="currentColor"
                class="bi bi-file-earmark-spreadsheet"
                viewBox="0 0 16 16"
              >
                <path
                  d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="row g-2">
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="onAddRect()"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1.5em"
                      height="16"
                      fill="currentColor"
                      class="bi bi-square-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"
                      />
                    </svg>
                    Add Rect
                  </button>
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="onAddText()"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1.5em"
                      height="1.5em"
                      fill="currentColor"
                      class="bi bi-fonts"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.258 3H3.747l-.082 2.46h.478c.26-1.544.76-1.783 2.694-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z"
                      />
                    </svg>
                    Add Text
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Konva -->
    <div class="col-6">
      <div class="card" id="konva-container"></div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <app-obj-editor
            [nodeAttrs]="transformer?.getNode()?.getAttrs()"
            (update)="updateNodeAttrs($event)"
          ></app-obj-editor>
        </div>
      </div>
    </div>
  </div>
</div>
