<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="pdfConfigForm">
          <div class="row mb-3">
            <p class="lead">Export Configuration</p>
          </div>
          <div class="row">
            <p class="col-6">Taille des cartes :</p>
            <p class="col">{{ cardSize.width }}*{{ cardSize.height }}mm</p>
          </div>
          <hr />
          <div class="row mb-3">
            <label class="col-6 col-form-label" for="printMarginInput">
              Marges d'impression
            </label>
            <div class="col input-group">
              <input
                type="number"
                name="printMarginInput"
                step="0.1"
                class="form-control"
                formControlName="printMargin"
              />
              <span class="input-group-text" id="basic-addon2">mm</span>
            </div>
          </div>
          <div class="row mb-3">
            <label for="internalMarginInput" class="col-6 col-form-label">
              Margin interne
            </label>
            <div class="col input-group mb-3">
              <input
                type="number"
                name="internalMarginInput"
                step="0.1"
                class="form-control"
                formControlName="internalMargin"
              />
              <span class="input-group-text" id="basic-addon2">mm</span>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-primary m-2"
                (click)="onExport()"
              >
                Export to PDF
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8 card">
    <div class="card-body">
      <p class="lead text-center">Preview (moche) de la première page</p>
      <canvas class="card" #Pdfjs></canvas>
    </div>
  </div>
</div>
